* {
  box-sizing: border-box;
}

body {
  background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  border-radius: 7px;
  width: 80%;
  max-width: 600px;
  position: absolute;
  margin-top: 90px;
  margin-left: 70px;
  background-color: rgba(0, 0, 0, 0.6);
}

.content {
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 10px 30px 12px 30px;
}

button {
  background-color: #DB3030;
  padding: 10px 28px;
  color: white;
  border-color: #DB3030;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  container {
    width: 100%;
  }
  button {
    padding: 10px 28px;
  }
}

@media screen and (max-width: 400px) {
  container {
    width: 100%;
  }
  button {
    padding: 10px 28px;
  }
}

@media screen and (max-width: 200px) {
  container {
    width: 100%;
  }
  button {
    padding: 10px 28px;
  }
}

@media screen and (max-width: 100px) {
  container {
    width: 100%;
  }

  button {
    padding: 10px 28px;
  }
}
